<div class="row" style="margin-top:10px;margin-bottom:10px;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <small class="font-green-sharp">$</small>
                        <span data-counter="counterup" data-value="stats.usdEtc">{{stats.usdEtc}}</span>
                    </h3>
                    <small>HUC Price</small>
                </div>
                <div class="icon">
                    <i class="icon-fire"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: {{stats.usdEtcHuc}}%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only">{{stats.usdEtcHuc}}% HUC/ETH USD price</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> HUC/ETH USD Price </div>
                    <div class="status-number"> {{stats.usdEtcHuc}}% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="stats.hucHashrate">{{stats.hucHashrate | totalDifficulty}}/s</span>
                    </h3>
                    <small>HUC Avg Hashrate</small>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: {{stats.hucHucHash}}%;" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">{{stats.hucHucHash}}% </span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> HUC/ETH Hashrate </div>
                    <div class="status-number"> {{stats.hucHucHash}}% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="{{stats.hucHucDiff}}">{{stats.hucDiff | totalDifficulty}}</span>
                    </h3>
                    <small>DIFFICULTY</small>
                </div>
                <div class="icon">
                    <i class="icon-puzzle"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: {{stats.hucHucDiff}}%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">{{stats.hucHucDiff}}% huc/huc difficulty</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> HUC/ETH difficulty </div>
                    <div class="status-number"> {{stats.hucHucDiff}}% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">
                        <small class="font-purple-soft">$</small>
                        <span data-counter="counterup" data-value="{{stats.usdHuc}}">{{stats.usdHuc}}</span>
                    </h3>
                    <small>HUC PRICE</small>
                </div>
                <div class="icon">
                    <i class="icon-trash"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: {{stats.hucChange}}%;" class="progress-bar progress-bar-success purple-soft">
                        <span class="sr-only">{{stats.hucChange}}% change</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> change </div>
                    <div class="status-number"> {{stats.hucChange}}% </div>
                </div>
            </div>
        </div>
    </div>
</div>